<footer class="container-fluid footer">
    <address>
        <h3>DIRECTORY</h3>
    	<p>PHONE: <a href="call:+254700000000" style="color:#0000ff;">(+254)700-000-000</a></p>
    	<p>EMAIL: <a href="email:info@offerflows.com" style="color:#0000ff;">info@offerflows.com</a></p>
    	<p>Visit us at Bandu Complex, 4th floor suite X, off Langata Rd, near Galleria shopping mall.</p>
    </address>
    <div class="footer-nav" style="color:#0000ff;">
    	<%= link_to 'CONTACT-US', new_contact_path %> 
    		
    </div>
    <span class="copyright">&copy OFFERFLOWS <%= Time.now().year %></span>
</footer>
